/cms/node_modules
/build-server/node_modules
/extension-server/node_modules
/notification-server/node_modules
/proxy-server/node_modules
/server/node_modules

/cms/.cache
/build-server/.cache
/extension-server/.cache
/notification-server/.cache
/proxy-server/.cache
/server/.cache


/cms/build
/build-server/build
/extension-server/build
/notification-server/build
/proxy-server/build
/server/build

/cms/.env
/build-server/.env
/extension-server/.env
/notification-server/.env
/proxy-server/.env
/server/.env




